body {
	margin: 0;
	background-color: white;
}

.logopic {
	height: 80px;
}

.index_p {
	color: white;
	background-color: black;
	padding-left: 50px;
	padding-right: 50px;
	border-color: #17c698;
	font-size: 18px;
	font-family: arial, sans-serif;
	margin-bottom: 10px;
}


@font-face {
	font-family: Somersaults;
	src: url(Somersaults.ttf);
}

.vertical-center {
	min-height: 100%;

	display: flex;
	align-items: center;
}

h1 {
	color: white;
	font-family: Somersaults;
	padding-left: 10px;
	border-bottom: solid;
	border-color: #17c698;
}

div {
	margin-top: 5px;
	background-color: #000;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: solid;
	border-bottom: solid;
	border-color: #17c698;
}

/*div section p {
	text-align: right;
}*/


figure img {
	padding-bottom: 10px;
}

.container {
	max-width: 1200;
}

figcaption {
	color: white;
	padding: 10px;
	font-size: 14px;
	text-align: justify;
}

.center_caption {
	text-align: center;
	padding: 10px;
	font-size: 16px;
	color: black;
	background-color: #17c698;
	margin-top: 10px;
}

/*.figure-caption {
	background-color: white;
	font-size: 20px;
	color: black;
	padding: 30px;
	float: right;
}*/


/*figure img {
	border-radius: 20px;
	border-width: 8px;
	border-color: white;
	border-style: solid;
	display: inline-block;
}*/

/*.home {
	border-right: solid;
	border-color: #17c698;
	padding-right: 20px;
}

.year1 {
	padding-left: 20px;
}*/

.home {
	border-right: solid;
	border-color: #17c698;
}

.active {
	background-color: #17c698;
}

.year_header {
	border-bottom: solid;
	border-color: #17c698;
	width: 100%;
	margin: 0;
	max-width: none;
	background-color: #000;
	height: 200px;
}

.year_h1 {
	font-family: Somersaults;
	font-size: 85px;
	color: white;
	margin-left: 50px;
}

nav ul {
	border-bottom: solid;
	border-color: #17c698;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: #000;
	font-family: arial, sans-serif;
	padding-left: 60px;
	padding-right: 60px;
	font-size: 18px;
}

nav li {
	float: left;
}

.year-nav li a {
	display: block;
	color: white;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 15px;
	padding-left: 15px;
	text-decoration: none;
}

nav li a:hover {
	background-color: #17c698;
}

.previous {
	overflow: hidden;
	float: left;
}

.next {
	overflow: hidden;
	float: right;
}

.previous a {
	display: block;
	color: white;
	text-align: center;
	padding-left: 20px;
	text-decoration: none;
}

.next a {
	display: block;
	color: white;
	text-align: center;
	padding-right: 20px;
	text-decoration: none;
}

.previous a:hover {
	background-color: #17c698;
}

.next a:hover {
	background-color: #17c698;
}

footer {
	font-size: 10px;
	text-align: center;
	margin: 10px;
	color: black;
}

/*section {
	margin: 20px;
}

.active {
	background-color: #4CAF50;
}

.caption {
	max-width: 650px;
	text-align: center;
	display: block;
	margin: auto;
	background-color: white;
	padding: 8px;
	border-style: solid;
	border-color: #4CAF50;
	border-width: 8px;
}

.float_right_photo {
	display: block;
	float: right;
	margin-bottom: 10px;
}

.float_left_caption {
	margin: auto;
	float: left;
	display: block;
	width: 631px;
	padding: 8px;
	font-size: 80px;
	font-family: Impact, Charcoal, sans-serif;
	color: #4CAF50;
}

.middle_caption {
	text-align: center;
	display: block;
	margin: auto;
	max-width: 200px;
	background-color: white;
	padding: 8px;
}

.float_left {
	float: left;
}

.float_right {
	float: auto;
}

.centered {
	display: block;
	margin: auto;
	border-style: solid;
	border-color: #4CAF50;
	border-width: 8px;
}

.across {
	clear: both;
}*/

/*.index_header {
	width: 100%;
	margin: 0;
	max-width: none;
	background-color: #000;
	height: 300px;
	border-bottom: solid;
	border-color: #17c698;
}

.index_h1 {
	font-family: Somersaults;
	font-size: 100px;
	color: white;
	margin-left: 50px;
}*/